/** StyleSheet für die meisten grafischen Effecte: Farbe MouseHover und Leuchten
 * @CodeAutor: Alex */
 
 /** Hintergrundfarbe wird fast Schwartz
 * @CodeAutor: Alex */ 
.screen {
	-fx-background-color: #191919; }
	
.MidBtn{
	-fx-text-fill: #E3E3E3;
	-fx-alignment: CENTER-LEFT;
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0;
	-fx-font-family: 'Bebas';
	-fx-font-size: 45px; 
	-fx-font-weight: bold;
	-fx-effect: dropshadow( gaussian , #E3E3E3 , 30, 0.1 , 0 , 0 );
}
.MidBtn:hover{
	-fx-text-fill: #FFFFFF;
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 );
}

/** styled die tooltips, ignoriert leider scalierer der scene und sind last minute also immer 12pt
 * @CodeAutor: Alex */ 
.tooltip {
	-fx-alignment: CENTER-LEFT;
    -fx-text-fill: #999999;
    -fx-background-color: #191919;
	-fx-padding: 0 2.5 0 2.5;
	-fx-background-radius: 0px;
	-fx-font-family: 'Bebas';
	-fx-font-size: 18px; 
	-fx-font-weight: bold;	}

/** Hintergrund farbe von Checkboxen wird auf Grau gesetzt
 * @CodeAutor: Alex */ 
.box{
	-fx-background-color: #999999; }

/** Button und Checkbox: kein Hintergrund, kein Rand, TextFarbe und Leuchten
 * @CodeAutor: Alex */ 
.text-field, .label, .button, .check-box, .table-cell, .tab-label {
	-fx-alignment: CENTER-LEFT;
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0;
	-fx-text-fill: #999999;
	-fx-effect: dropshadow( gaussian , #999999 , 30, 0.1 , 0 , 0 ); }
	
/** Farbe von Checkboxen wenn sie ausgwählt sind und helleres Leuchten
 * @CodeAutor: Alex */ 
.check-box:selected {
	-fx-mark-color: #cccccc;
	-fx-text-fill: #cccccc;
	-fx-effect: dropshadow( gaussian , #cccccc , 30, 0.2 , 0 , 0 ); }

/** Wenn Mouseover sind Checkboxen und Button weiss und weiss leuchtend
 * @CodeAutor: Alex */ 
.button:hover, .check-box:hover, .notestext:hover, .notestext:focused, .tab:selected .tab-label, .tab:hover .tab-label {
	-fx-mark-color: #ffffff;
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 ); }
	

	/** textfelder in notes
 * @CodeAutor: Alex */ 
.notestext {
    -fx-highlight-fill: #ffffff;
    -fx-highlight-text-fill: #666666;
    -fx-text-fill: #999999;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
	-fx-effect: dropshadow( gaussian , #999999 , 30, 0.1 , 0 , 0 ); }

/** Text für Karden fast Schwarz baer Halbdruchsichtig 
 * @CodeAutor: Alex */ 
.black {
	-fx-opacity: 0.5;
	-fx-text-fill: #191919; }

/** Kleinerer Text für die Karten in Notes
 * @CodeAutor: Alex */ 
.smallblack{
	-fx-opacity: 0.5;
	-fx-text-fill: red;
	-fx-font-family: 'Bebas';
	-fx-font-size: 24px; 
	-fx-font-weight: bold; }

/** style für Superpower button auf Spielerkarte in notes
 * @CodeAutor: Alex */ 
.blackbtn {
	-fx-opacity: 0.5;
	-fx-alignment: CENTER-LEFT;
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0;
	-fx-text-fill: #191919;
	-fx-effect: dropshadow( gaussian , #191919 , 30, 0.1 , 0 , 0 ); }

.blackbtn:hover {
	-fx-opacity: 0.7;
	-fx-text-fill: #191919;
	-fx-effect: dropshadow( gaussian , #191919 , 30, 0.1 , 0 , 0 ); }

/** Alle Schrift wird 45px groß und Fettgedruckt
 * @CodeAutor: Alex*/ 
.button, .blackbtn, .check-box, .black, .label, .notestext, .table-column, .table-view, .light, .red, .blue, .green, .purple, .yellow, .pink, .white, .orange, .tab-label {
	-fx-font-family: 'Bebas';
	-fx-font-size: 45px; 
	-fx-font-weight: bold;}

/** macht die gesammte tableview unsichtbart bis auch die labels 
 * @CodeAutor: Alex*/
.table-row-cell, .table-column, .table-view, .table-view > .column-header-background, .table-view > .column-header-background > .filler, .table-view > .column-header-background > .nested-column-header > .column-header.table-column {
    -fx-background-color: transparent;
	-fx-control-inner-background: transparent;
	-fx-table-cell-border-color: transparent;
	-fx-table-header-border-color: transparent;
    -fx-cell-size: 100px;
	-fx-size: 100px; 	}

.table-row-cell:selected{
   -fx-background-color: #ffffff;
   -fx-text-background-color: #666666; }
   
/** Style für jegliche Scrollbars
 * @CodeAutor: Alex */
.scroll-bar:horizontal , .scroll-bar:vertical, .increment-button ,.decrement-button, .scroll-bar:horizontal .track , .scroll-bar:vertical .track{
	-fx-background-color:transparent;
	-fx-border-color: transparent;
	-fx-background-radius: 0em; }

.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: #999999;
	-fx-background-radius: 0em;
	-fx-effect: dropshadow( gaussian , #999999 , 30, 0.1 , 0 , 0 ); }	

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed, .increment-button:hover ,.decrement-button:hover{
    -fx-background-color: #ffffff;
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 );	}

/** Fläche wird Transparent wird für transRec1 in Lobby genutzt
 * @CodeAutor: Alex */ 
.transparent {
	-fx-fill: transparent; }
	
/** Schatten für Spielfiguren und schärkerer Schatten bei Mouseover
 * @CodeAutor: Alex */ 
.light {
	-fx-fill: #ffffff;
	-fx-opacity: 0;
	-fx-effect: dropshadow( gaussian , #ffffff , 25, 0.1 , 0 , 0 ); }
.light:hover {
	-fx-fill: #ffffff;
	-fx-opacity: 0.2;
	-fx-effect: dropshadow( gaussian , #ffffff , 25, 0.5 , 0 , 0 ); }

/**Field effect if activated */
.field{
	-fx-fill: #F0F0F0;
	-fx-opacity: 0.7;
}
.field:hover{
	-fx-fill: #FFFFFF;
	-fx-opacity: 0.9;
	-fx-effect: dropshadow( gaussian , #ffffff , 25, 0.5 , 0 , 0 );
}
.objectClick{
	-fx-fill: #ffffff;
	-fx-opacity: 1;
	-fx-effect: dropshadow( gaussian , #d3d3d3 , 25, 0.25 , 0 , 0 ); 
}
.objectClick:hover{
	-fx-fill: #ffffff;
	-fx-opacity: 1;
	-fx-effect: dropshadow( gaussian , #ffffff , 25, 0.7 , 0 , 0 ); 
}
.room {
	-fx-opacity: 0;
	-fx-fill: #ffffff;
}
.room:hover{
	-fx-fill: #ffffff;
	-fx-opacity: 0.15;
}
.roomaccesible{
	-fx-fill: #FFFFFF;
	-fx-opacity: 0.55;
	-fx-effect: dropshadow( gaussian , #ffffff , 25, 0.5 , 0 , 0 ); 
}
.roomaccesible:hover{
	-fx-fill: #FFFFFF;
	-fx-opacity: 1;
	-fx-effect: dropshadow( gaussian , #ffffff , 25, 0.7 , 0 , 0 ); 
}

/** Schatten für Spielfiguren und schärkerer Schatten bei Mouseover
 * @CodeAutor: Alex */ 
.shadow {
	-fx-fill: #191919;
	-fx-effect: dropshadow( gaussian , #191919 , 25, 0.1 , 0 , 0 ); }
.shadow:hover {
	-fx-effect: dropshadow( gaussian , #191919 , 25, 0.5 , 0 , 0 ); }
	
/** wheisses leuchten für weisse texturen würfel zb
 * @CodeAutor: Alex */ 
 .shinygray {
	-fx-effect: dropshadow( gaussian , #999999 , 30, 0.1 , 0 , 0 ); }
.shiny {
	-fx-effect: dropshadow( gaussian , #ffffff , 30, 0.1 , 0 , 0 ); }
.shiny:hover {
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.2 , 0 , 0 ); }
	
	/** Spielerfarben mit leuchten und stärkerem Leuchten bei Mouseover
 * @CodeAutor: Alex */ 
.red {
	-fx-stroke-width: 6;
	-fx-stroke: #ff002a;
	-fx-text-fill: #ff002a;
	-fx-fill: #ff002a;
	-fx-effect: dropshadow( gaussian , #ff002a , 30, 0.1 , 0 , 0 ); }
.red:hover {
	-fx-effect: dropshadow( gaussian , #ff002a , 40, 0.3 , 0 , 0 ); }
.green {
	-fx-stroke-width: 6;
	-fx-stroke: #aaff00;
	-fx-text-fill: #aaff00;
	-fx-fill: #aaff00;
	-fx-effect: dropshadow( gaussian , #aaff00 , 30, 0.1 , 0 , 0 ); }
.green:hover {
	-fx-effect: dropshadow( gaussian , #aaff00 , 40, 0.3 , 0 , 0 ); }
.yellow {
	-fx-stroke-width: 6;
	-fx-stroke: #ffd400;
	-fx-text-fill: #ffd400;
	-fx-fill: #ffd400;
	-fx-effect: dropshadow( gaussian , #ffd400 , 30, 0.1 , 0 , 0 ); }
.yellow:hover {
	-fx-effect: dropshadow( gaussian , #ffd400 , 40, 0.3 , 0 , 0 ); }
.blue {
	-fx-stroke-width: 6;
	-fx-stroke: #0095ff;
	-fx-text-fill: #0095ff;
	-fx-fill: #0095ff;
	-fx-effect: dropshadow( gaussian , #0095ff , 30, 0.1 , 0 , 0 ); }
.blue:hover {
	-fx-effect: dropshadow( gaussian , #0095ff , 40, 0.3 , 0 , 0 ); }
.purple {
	-fx-stroke-width: 6;
	-fx-stroke: #9500ff;
	-fx-text-fill: #9500ff;
	-fx-fill: #9500ff;
	-fx-effect: dropshadow( gaussian , #9500ff , 30, 0.1 , 0 , 0 ); }
.purple:hover {
	-fx-effect: dropshadow( gaussian , #9500ff , 40, 0.3 , 0 , 0 ); }
.white {
	-fx-stroke-width: 6;
	-fx-stroke: #00ffea;
	-fx-text-fill: #00ffea;
	-fx-fill: #00ffea;
	-fx-effect: dropshadow( gaussian , #00ffea , 30, 0.1 , 0 , 0 ); }
.white:hover {
	-fx-effect: dropshadow( gaussian , #00ffea , 40, 0.3 , 0 , 0 ); }
.orange {
	-fx-stroke-width: 6;
	-fx-stroke: #ff7f00;
	-fx-text-fill: #ff7f00;
	-fx-fill: #ff7f00;
	-fx-effect: dropshadow( gaussian , #ff7f00 , 30, 0.1 , 0 , 0 ); }
.orange:hover {
	-fx-effect: dropshadow( gaussian , #ff7f00 , 40, 0.3 , 0 , 0 ); }
.rosa {
	-fx-stroke-width: 6;
	-fx-stroke: #ff00ff;
	-fx-text-fill: #ff00ff;
	-fx-fill: #ff00ff;
	-fx-effect: dropshadow( gaussian , #ff00ff , 30, 0.1 , 0 , 0 ); }
.rosa:hover {
	-fx-effect: dropshadow( gaussian , #ff00ff , 40, 0.3 , 0 , 0 ); }

/** Waffenfarben mit leuchten und stärkerem Leuchten bei Mouseover
 * @CodeAutor: Alex */ 
.dagger {
	-fx-stroke-width: 6;
	-fx-stroke: #cc0033;
	-fx-fill: #cc0033;
	-fx-effect: dropshadow( gaussian , #cc0033 , 30, 0.1 , 0 , 0 ); }
.dagger:hover {
	-fx-effect: dropshadow( gaussian , #cc0033 , 40, 0.3 , 0 , 0 ); }
.weapon_green {
	-fx-stroke-width: 6;
	-fx-stroke: #98cc00;
	-fx-fill: #98cc00;
	-fx-effect: dropshadow( gaussian , #98cc00 , 30, 0.1 , 0 , 0 ); }
.weapon_green:hover {
	-fx-effect: dropshadow( gaussian , #98cc00 , 40, 0.3 , 0 , 0 ); }
.revolver {
	-fx-stroke-width: 6;
	-fx-stroke: #cc9900;
	-fx-fill: #cc9900;
	-fx-effect: dropshadow( gaussian , #cc9900 , 30, 0.1 , 0 , 0 ); }
.revolver:hover {
	-fx-effect: dropshadow( gaussian , #cc9900 , 40, 0.3 , 0 , 0 ); }
.rope {
	-fx-stroke-width: 6;
	-fx-stroke: #0087cc;
	-fx-fill: #0087cc;
	-fx-effect: dropshadow( gaussian , #0087cc , 30, 0.1 , 0 , 0 ); }
.rope:hover {
	-fx-effect: dropshadow( gaussian , #0087cc , 40, 0.3 , 0 , 0 ); }
.candlestick {
	-fx-stroke-width: 6;
	-fx-stroke: #6600cc;
	-fx-fill: #6600cc;
	-fx-effect: dropshadow( gaussian , #6600cc , 30, 0.1 , 0 , 0 ); }
.candlestick:hover {
	-fx-effect: dropshadow( gaussian , #6600cc , 40, 0.3 , 0 , 0 ); }
.spanner {
	-fx-stroke-width: 6;
	-fx-stroke: #00ccaa;
	-fx-fill: #00ccaa;
	-fx-effect: dropshadow( gaussian , #00ccaa , 30, 0.1 , 0 , 0 ); }
.spanner:hover {
	-fx-effect: dropshadow( gaussian , #00ccaa , 40, 0.3 , 0 , 0 ); }
.pipe {
	-fx-stroke-width: 6;
	-fx-stroke: #cc5500;
	-fx-fill: #cc5500;
	-fx-effect: dropshadow( gaussian , #cc5500 , 30, 0.1 , 0 , 0 ); }
.pipe:hover {
	-fx-effect: dropshadow( gaussian , #cc5500 , 40, 0.3 , 0 , 0 ); }
.weapon_rosa {
	-fx-stroke-width: 6;
	-fx-stroke: #ba00cc;
	-fx-fill: #ba00cc;
	-fx-effect: dropshadow( gaussian , #ba00cc , 30, 0.1 , 0 , 0 ); }
.weapon_rosa:hover {
	-fx-effect: dropshadow( gaussian , #ba00cc , 40, 0.3 , 0 , 0 ); }
	
/** Raumfarben mit leuchten und stärkerem Leuchten bei Mouseover
 * @CodeAutor: Alex */ 
.diningroom {
	-fx-stroke-width: 6;
	-fx-stroke: #9b0839;
	-fx-fill: #9b0839;
	-fx-effect: dropshadow( gaussian , #9b0839 , 30, 0.1 , 0 , 0 ); }
.diningroom:hover {
	-fx-effect: dropshadow( gaussian , #9b0839 , 40, 0.3 , 0 , 0 ); }
.conservatory {
	-fx-stroke-width: 6;
	-fx-stroke: #829b08;
	-fx-fill: #829b08;
	-fx-effect: dropshadow( gaussian , #829b08 , 30, 0.1 , 0 , 0 ); }
.conservatory:hover {
	-fx-effect: dropshadow( gaussian , #829b08 , 40, 0.3 , 0 , 0 ); }
.hall {
	-fx-stroke-width: 6;
	-fx-stroke: #9b6a08;
	-fx-fill: #9b6a08;
	-fx-effect: dropshadow( gaussian , #9b6a08 , 30, 0.1 , 0 , 0 ); }
.hall:hover {
	-fx-effect: dropshadow( gaussian , #9b6a08 , 40, 0.3 , 0 , 0 ); }
.library {
	-fx-stroke-width: 6;
	-fx-stroke: #08759b;
	-fx-fill: #08759b;
	-fx-effect: dropshadow( gaussian , #08759b , 30, 0.1 , 0 , 0 ); }
.library:hover {
	-fx-effect: dropshadow( gaussian , #08759b , 40, 0.3 , 0 , 0 ); }
.study {
	-fx-stroke-width: 6;
	-fx-stroke: #45089b;
	-fx-fill: #45089b;
	-fx-effect: dropshadow( gaussian , #45089b , 30, 0.1 , 0 , 0 ); }
.study:hover {
	-fx-effect: dropshadow( gaussian , #45089b , 40, 0.3 , 0 , 0 ); }
.lounge {
	-fx-stroke-width: 6;
	-fx-stroke: #089b76;
	-fx-fill: #089b76;
	-fx-effect: dropshadow( gaussian , #089b76 , 30, 0.1 , 0 , 0 ); }
.lounge:hover {
	-fx-effect: dropshadow( gaussian , #089b76 , 40, 0.3 , 0 , 0 ); }
.ballroom {
	-fx-stroke-width: 6;
	-fx-stroke: #9b3908;
	-fx-fill: #9b3908;
	-fx-effect: dropshadow( gaussian , #9b3908 , 30, 0.1 , 0 , 0 ); }
.ballroom:hover {
	-fx-effect: dropshadow( gaussian , #9b3908 , 40, 0.3 , 0 , 0 ); }
.kitchen {
	-fx-stroke-width: 6;
	-fx-stroke: #82089b;
	-fx-fill: #82089b;
	-fx-effect: dropshadow( gaussian , #82089b , 30, 0.1 , 0 , 0 ); }
.kitchen:hover {
	-fx-effect: dropshadow( gaussian , #82089b , 40, 0.3 , 0 , 0 ); }
.billiard {
	-fx-stroke-width: 6;
	-fx-stroke: #288020;
	-fx-fill: #288020;
	-fx-effect: dropshadow( gaussian , #288020 , 30, 0.1 , 0 , 0 ); }
.billiard:hover {
	-fx-stroke-width: 6;
	-fx-stroke: #288020;
	-fx-effect: dropshadow( gaussian , #288020 , 40, 0.3 , 0 , 0 ); }

/** Chat-Client
 * @CodeAuthor: Angela */
font-face {
    font-family: "Accidental Presidency";
    src: url('/resources/accidental_presidency-webfont.ttf');
    font-weight: normal;
    font-style: normal;

}

body {
 font-family:  "Accidental Presidency";
 background-color: Azure;
 font-size: 45px;
}
/* Farben der Chat-Nachrichten 
 * @CodeAuthor: Angela */
.myred {
   color: #ff002a;
} 

.myyellow {
   color: #ffd400;
   background-color: DarkGray;
} 	 
	 
.mywhite {
  color: #00ffea;
  background-color: DarkGray;
}

.mygreen{
  color: #aaff00;
  background-color: DarkGray;
}  

.myblue{
   color: #0095ff;
}

.mypurple{
   color: #9500ff;
}

/* Color of Watcher */
.myblack{
   color: black;
}
 
/* Color of Players if game consists of 8 players */
.myorange{
   color: #ff7f00;
}  

.myrosa{
   color: #ff00ff;
} 

.chat {
-fx-font-size: 30px;
}

/** Ladebalken bekommt eine Höhe von 4px + farbe von bar und leiste
 * @CodeAutor: Tim */ 
.progress-bar .bar {
	-fx-background-color: 	#ffffff;
	-fx-padding:4px; 
	-fx-background-insets:0;
	-fx-effect: dropshadow( gaussian , #ffffff , 30, 0.1 , 0 , 0 );
	}
.progress-bar > .track {
  -fx-control-inner-background: #999999;
}
	
/** Styled Tappane header
 * @CodeAutor: Alex */
.tab-content-area {
	-fx-background-color: transparent;
	-fx-padding: 0; }
.tab  {
	-fx-alignment: CENTER;
	-fx-tab-border-color: transparent;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0; }
.tab:top {
	-fx-background-color: transparent; }
.tab-pane *.tab-header-background  {
	-fx-background-color: transparent; }
.tab-pane:top *.tab-header-area  {
	-fx-background-insets: 0;
	-fx-padding: 0; }

/** Styled Tappane buttone wenn breite zu groß wird
 * @CodeAutor: Alex */
.control-buttons-tab  {
	-fx-width:0;
	-fx-background-insets: 0;
	-fx-background-radius: 0;
	-fx-padding: 0; }
.tab-down-button  {
	-fx-width:0;
	-fx-background-color: transparent;
	-fx-padding: 0; }
.tab-down-button .arrow  {
	-fx-width:0;
	-fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
	-fx-background-insets:0;
	-fx-padding:0; }

	
/** list-view:
 *	transparent wenn leer
 *	kein Hintergrund
 *	ändern der Farbe eines Elements sobald ausgewählt
 *	weiß highlighted bei mouseover
 * @CodeAutor: Tim */	
.list-view{	
	-fx-background-color: transparent;
	-fx-control-inner-background: transparent;
	-fx-table-cell-border-color: transparent;
	-fx-table-header-border-color: transparent;}
.list-cell:hover{
	-fx-mark-color: #ffffff;
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 );}	
.list-cell{
	-fx-background-color: transparent;
	-fx-font-family: 'Bebas';
	-fx-font-size: 45px;
	-fx-text-fill: #999999;}
.list-cell:filled:selected {
	-fx-background-color: transparent;
  	-fx-text-fill: #ffffff;}
  	
/** combo-box:
 *	box hintergrund transparent
 *	elemente keinen hintergrund
 *	box grau highlighted bei mouseover
 *	elmente weiß highlighted bei mouseover
 * @CodeAutor: Tim */
.combo-box{
	-fx-background-color: transparent;
	-fx-font-size: 45px;}
.combo-box:hover{
	-fx-mark-color: #ffffff;
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 );}	
.combo-box .list-cell:filled:selected {
	-fx-background-color:transparent;
	-fx-padding: 0 0 0 0;
	-fx-font-family: 'Bebas'; 
	-fx-font-weight: bold;
	-fx-text-fill: #999999;
	-fx-effect: dropshadow( gaussian , #999999 , 30, 0.1 , 0 , 0 );}
	
.combo-box .list-view .list-cell{
	-fx-background-color:transparent;
	-fx-padding: 0 0 0 0;
	-fx-font-family: 'Bebas';
	-fx-font-size: 18px; 
	-fx-font-weight: bold;
	-fx-text-fill: #999999;}
		
.combo-box .list-view .list-cell:hover{
	-fx-mark-color: #ffffff;
	-fx-text-fill: #ffffff;
	-fx-effect: none;}
	
/** text-area:
 *	kein Hintergrund, textfarbe & größe angepasst
 * @CodeAutor: Tim */
.text-area{
	-fx-text-fill: #ffffff;
   	-fx-font-size: 45px;
	-fx-background-color: transparent;
	-fx-highlight-fill: #999999;
	-fx-highlight-text-fill: #ffffff;
	-fx-prompt-text-fill: #999999;}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;}	
.text-area .scroll-pane{
	-fx-background-color: transparent;}
.text-area .scroll-pane .content{
	-fx-background-color: transparent;}	

	
/** Slider wird farblich angepasst
 *	kein blauer Rahmen wenn selected
 * @CodeAutor: Tim */
.slider{
	-fx-font-size: 25 ;}
.slider .thumb {
    -fx-background-color: #999999;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 1.0em;
    -fx-padding: 0.583333em;}

.slider:focused .thumb {
    -fx-background-color: #ffffff;
    -fx-background-insets: -1.4, 0, 1, 2;
    -fx-background-radius: 1.0em;
}
.slider .thumb:hover {
    -fx-color: #ffffff;
    -fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 );
}
.slider .thumb:pressed {
    -fx-color: #ffffff;
}

.slider .track {
    -fx-background-color: #999999;
    -fx-background-insets: 1 0 -1 0, 0, 1;
    -fx-background-radius: 2.5, 2.5, 1.5;
    -fx-padding: 0.208333em; /* 2.5 */
}

.slider:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

/** Style für den togglebutton im optionsScreen
 * @CodeAutor: Tim */
.toggle-button{
	-fx-background-color: transparent;
	-fx-padding: 0 0 0 0;
	-fx-effect: dropshadow( gaussian , #999999 , 30, 0.1 , 0 , 0 );}
.toggle-button:hover{
	-fx-mark-color: #ffffff;
	-fx-text-fill: #ffffff;
	-fx-effect: dropshadow( gaussian , #ffffff , 40, 0.3 , 0 , 0 ); }