/** ServerGui
 * @CodeAutor: Angela */
font-face {
    font-family: Nobile;
    src: url('/resources/Nobile-Regular.ttf');
    
}

/* JavaFX Styling */

.root
{
	-fx-background-color: lightgray;
	-fx-font-family:  Nobile;
	-fx-font-size: 100%;
	-fx-text-fill: #575C5E;
  	-fx-color: lightcyan;
  	-fx-border-color: navy;
}

.button
{
	-fx-background-color: transparent;
	-fx-font-family:  Bebas;
	-fx-font-size: 100%;
	-fx-text-fill: #111111;
	-fx-color: transparent;
	-fx-border-width: 4px;
	-fx-border-color: navy;
	-fx-border-radius: 10px;
	-fx-padding: 10px;
}

#lblInfo{
	-fx-font-family:  Bebas;
	-fx-text-fill: #111111;
	-fx-letter-spacing: 0.1em;
}

#lblNf{
	-fx-text-fill: PaleVioletRed ;
	-fx-background-color: #EEF0BB;
	-fx-font-family:  Bebas;
	-fx-letter-spacing: 0.5em;
}

/* Styling for labels needed for searching or sorting */
.lblFilters {
	-fx-background-color: indigo;
	-fx-font-family:  Bebas;
	-fx-text-fill: #c3e6e5 ;
	-fx-letter-spacing: 0.5em;
	-fx-padding: 10px;
}
		
.btnLists {
	-fx-border-color: navy;
}

.btnCons {
	-fx-border-color: darkcyan;
}

.btnGames {
	-fx-border-color: darkseagreen;
}

.btnMsgs {
	-fx-border-color: indigo;
}


.button:hover {
			-fx-border-color: #c3e6e5;
}

.scroll-pane
{

-fx-border-color: navy;
	-fx-border-radius: 10px;

}

.tree-view
{
	-fx-background-color: transparent;
	-fx-font-family:  Bebas;
	-fx-font-size: 100%;
	-fx-text-fill: #111111;
	-fx-color: transparent;
	-fx-border-color: navy;
	-fx-border-radius: 10px;
	-fx-padding: 5px;
	
}
.tree-cell:hover  {
  -fx-background-color: #c3e6e5 ;
}

.tree-cell {
  -fx-background-color: transparent ;
}

/* Selected treeitem */
.tree-view:focused .tree-cell:filled:focused:selected {
    -fx-background-color: navy;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
/* Selected treeitem when tree not focused */
.tree-cell:filled:focused:selected {
    -fx-background-color: teal;
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-selection-bar-text;
}
.table-view 
{
	-fx-background-color: transparent;
	-fx-font-size: 100%;
	/*-fx-color: transparent; */
	-fx-border-color: navy;
	-fx-border-radius: 10px;
	-fx-padding: 5px;

}

.table-view .column-header .label {
	-fx-background-color: white;
    -fx-text-fill: #111111;
   -fx-font-family:  Bebas;
   -fx-letter-spacing: 0.1em;
	-fx-font-size: 150%;
	-fx-border-bottom: thick solid #111111;
	-fx-border-top: medium solid #999999;
	-fx-text-align: left;
}


/* Row hovered */
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #c3e6e5;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-text-fill: -fx-text-inner-color;
}

/* Selected row hovered */
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background: -fx-accent;
    -fx-background-color: #c3e6e5;
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}


.myred {
  -fx-control-inner-background: red;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
} 

.myyellow {
  -fx-control-inner-background: yellow;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
} 	 
	 
.mywhite {
  -fx-control-inner-background: white;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.mygreen{
  -fx-control-inner-background: green;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}  

.myblue{
  -fx-control-inner-background: blue;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
}

.mypurple{
  -fx-control-inner-background: purple;
  -fx-accent: derive(-fx-control-inner-background, -40%);
  -fx-cell-hover-color: derive(-fx-control-inner-background, -20%);
} 

/* Styling fuer HTML Seite */

body {
  font-family:  Nobile;
  font-weight: normal;
  font-style: normal;
  background-color: #EEF0BB;
  font-size: 90%;
  color: #575C5E;
}

p.rcv {
	background-color: #BBF0D8;
}

p.snt {
	background-color: #F0BBD4;
}

.highlight {
 	background-color: #E3E3E3;
}

table {
/*		width: 600px; */
}
		
th, td {
		  padding: 7px 10px 10px 10px;
}

th {
		   font-family:  Bebas;
		   letter-spacing: 0.1em;
		   font-size: 90%;
		   border-bottom: thick solid #111111;
		   border-top: medium solid #999999;
		   text-align: left;
		   color: #111111;
}
tr.even {
    		background-color: #E3E3E3;
}

tr:hover {
			background-color: #c3e6e5;
}
tr.mycolorgamegray :hover {
			background-color: #c3e6e5;
			color: #575C5E;
}

tr.mycolorgamegray{
	background-color: #D3D3D3;
}

tr.mycolorgamered {
  background-color: red;
  color: white;
} 

tr.mycolorgameyellow {
  background-color: yellow;
} 	 
	 
tr.mycolorgamewhite {
  background-color: white;
}

tr.mycolorgamegreen{
  background-color: green;
   color: white;
}  

tr.mycolorgameblue{
  background-color: blue;
   color: white;
}

tr.mycolorgamepurple{
  background-color: purple;
   color: white;
} 	 


/** Styling Bar Chart
 * @CodeAutor: Mike Bostock (http://bost.ocks.org/mike/bar/),Angela */

.bar {
  fill: steelblue;
}

.bar:hover {
  fill: brown;
}

.axis {
  font: 10px Nobile;
  color: #575C5E;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

/*border-color: #B2C4B7;*/